.wote-logo {
    width: 200px;
    padding-top: 20px;
    padding-left: 20px;
}

h1, h2, body, p {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 50px;
    animation: fadeIn 3s;
}

h2 {
    text-align: center;
    padding-top: 400px;
    font-size: 50px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  



body {
    background-color: #ECEBDE;
}

.landing {
    text-align: center;
    padding-top: 150px;
}

.p1 {
    margin-top: -16px;
    animation: fadeIn 8s;
}

.p2 {
    text-align: center;
    font-size: 22px;
}